.c-Button {
  width: 256px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 45px;

  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-align: center;
  cursor: pointer;
}

.c-Button--primary {
  background-color: var(--green);
  color: var(--dark-text);
}

.c-Button--secondary {
  background-color: var(--white);
  color: var(--dark-text);
}
